<p id="notice"><%= notice %></p>

<p>
  <strong>Aggregatemerchantid:</strong>
  <%= @merchantpoi.AggregateMerchantId %>
</p>

<p>
  <strong>Aggregatemerchantname:</strong>
  <%= @merchantpoi.AggregateMerchantName %>
</p>

<p>
  <strong>Cleansedcityname:</strong>
  <%= @merchantpoi.CleansedCityName %>
</p>

<p>
  <strong>Cleansedcountrycode:</strong>
  <%= @merchantpoi.CleansedCountryCode %>
</p>

<p>
  <strong>Cleansedmerchantname:</strong>
  <%= @merchantpoi.CleansedMerchantName %>
</p>

<p>
  <strong>Cleansedmerchantpostalcode:</strong>
  <%= @merchantpoi.CleansedMerchantPostalCode %>
</p>

<p>
  <strong>Cleansedmerchantstreetaddress:</strong>
  <%= @merchantpoi.CleansedMerchantStreetAddress %>
</p>

<p>
  <strong>Cleansedmerchanttelephonenumber:</strong>
  <%= @merchantpoi.CleansedMerchantTelephoneNumber %>
</p>

<p>
  <strong>Cleansedstateprovidencecode:</strong>
  <%= @merchantpoi.CleansedStateProvidenceCode %>
</p>

<p>
  <strong>Cuisinecode:</strong>
  <%= @merchantpoi.CuisineCode %>
</p>

<p>
  <strong>Dmacode:</strong>
  <%= @merchantpoi.DMACode %>
</p>

<p>
  <strong>Geocodequalityindicator:</strong>
  <%= @merchantpoi.GeocodeQualityIndicator %>
</p>

<p>
  <strong>Hiddengem:</strong>
  <%= @merchantpoi.HiddenGem %>
</p>

<p>
  <strong>Inbusinessflag:</strong>
  <%= @merchantpoi.InBusinessFlag %>
</p>

<p>
  <strong>Industry:</strong>
  <%= @merchantpoi.Industry %>
</p>

<p>
  <strong>Keyaggregatemerchantid:</strong>
  <%= @merchantpoi.KeyAggregateMerchantId %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @merchantpoi.Latitude %>
</p>

<p>
  <strong>Localfavorite:</strong>
  <%= @merchantpoi.LocalFavorite %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @merchantpoi.Longitude %>
</p>

<p>
  <strong>Mcccode:</strong>
  <%= @merchantpoi.MCCCode %>
</p>

<p>
  <strong>Msacode:</strong>
  <%= @merchantpoi.MSACode %>
</p>

<p>
  <strong>Merchantcityname:</strong>
  <%= @merchantpoi.MerchantCityName %>
</p>

<p>
  <strong>Merchantcountrycode:</strong>
  <%= @merchantpoi.MerchantCountryCode %>
</p>

<p>
  <strong>Merchantname:</strong>
  <%= @merchantpoi.MerchantName %>
</p>

<p>
  <strong>Merchantpostalcode:</strong>
  <%= @merchantpoi.MerchantPostalCode %>
</p>

<p>
  <strong>Merchantstateprovidencecode:</strong>
  <%= @merchantpoi.MerchantStateProvidenceCode %>
</p>

<p>
  <strong>Merchantstreetaddress:</strong>
  <%= @merchantpoi.MerchantStreetAddress %>
</p>

<p>
  <strong>Naicscode:</strong>
  <%= @merchantpoi.NAICSCode %>
</p>

<p>
  <strong>Newbusinessflag:</strong>
  <%= @merchantpoi.NewBusinessFlag %>
</p>

<p>
  <strong>Parentaggregatemerchantid:</strong>
  <%= @merchantpoi.ParentAggregateMerchantId %>
</p>

<p>
  <strong>Parentaggregatemerchantname:</strong>
  <%= @merchantpoi.ParentAggregateMerchantName %>
</p>

<p>
  <strong>Primarychannelofdistribution:</strong>
  <%= @merchantpoi.PrimaryChannelOfDistribution %>
</p>

<p>
  <strong>Superindustry:</strong>
  <%= @merchantpoi.SuperIndustry %>
</p>

<%= link_to 'Edit', edit_merchantpoi_path(@merchantpoi) %> |
<%= link_to 'Back', merchantpois_path %>
