<div class="container-fluid">
  <div class="row">
    <div class="col-md-11 col-md-offset-1 spacer"></div>
  </div>
</div>

<div class="container-fluid countspace" id="stats2">
  <div class="container">
    <div class="row">
      <div class="col-md-12 countbg">
        <div class="col-xs-12 col-sm-3 col-md-3">
          <div class="counter-item">
            <img class="round" src="<%= asset_path('user_icon.png' ) %>"/>
            <div class="timer top_padding bottom_padding">6</div>
            <h5>Members</h5>
          </div>
        </div>
        <div class="col-xs-12 col-sm-3 col-md-3">
          <div class="counter-item">
            <img class="round" src="<%= asset_path('heart_icon.png' ) %>"/>
            <div class="timer top_padding bottom_padding">Chicistas</div>
            <h5>
              tribe
            </h5>
          </div>
        </div>

        <div class="col-xs-12 col-sm-3 col-md-3">
          <div class="counter-item">
            <img class="round" src="<%= asset_path('tag_icon.png' ) %>"/>
            <div class="timer top_padding bottom_padding">15</div>
            <h5>Shared Items</h5>
          </div>
        </div>

        <div class="col-xs-12 col-sm-3 col-md-3">
          <div class="counter-item">
            <img class="round" src="<%= asset_path('tick_icon2.png' ) %>"/>
            <div class="timer top_padding bottom_padding">30
            </div>
            <h5>Successful handoffs</h5>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="container-fluid ">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12 spacer"></div>
    </div>
  </div>
</div>

<div class="container-fluid features">
  <div class="container text-center features-text" id="answer_list">
<h2>  Your Items & Custody</h2>
  </div>
</div>


<div class="users" data-users="<%= User.all.to_json %>">
</div>

<div class="container" id="DocumentResults">
</div>

<div class="container-fluid ">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12 spacer"></div>
    </div>
  </div>
</div>



<script id="new-answer-form" type="text/x-handlebars-template">
  {{#this}}
    <div class="row">
      <div class="col-md-2">
      <div class="iconing3">
            <img src="/assets/{{image}}" class="roundlg" />
            </div>
      </div>

      <div class="col-md-3 icon-text-box top_padding">
        <p>{{header}} in custody of: </p>
      </div>
          <div class="col-md-1 icon-text-box top_padding">
        <p><span>{{custodian_name}}</span></p>
      </div>
      <div class="col-md-2">
          <img src="{{custodian_img}}" class="roundlg" />
      </div>
    </div>
    {{/this}}
    </script>
