<div class="container-fluid">
<div class="row">
  <div class="col-md-11 col-md-offset-1 spacer">
  </div>
</div>
</div>


<div class="container-fluid countspace" id="stats2">
  <div class="container">
    <div class="row">
      <div class="col-md-12 countbg">
        <div class="col-xs-12 col-sm-3 col-md-3">
          <div class="counter-item">
            <img src="<%= asset_path('user_icon.png' ) %>" class="round" />
            <div class="timer top_padding bottom_padding">6</div>
            <h5>Members</h5>
          </div>
        </div>
        <div class="col-xs-12 col-sm-3 col-md-3">
          <div class="counter-item">
            <img src="<%= asset_path('heart_icon.png' ) %>" class="round" />
            <div class="timer top_padding bottom_padding">Chicistas</div>
            <h5>
              tribe
            </h5>
          </div>
        </div>

        <div class="col-xs-12 col-sm-3 col-md-3">
          <div class="counter-item">
            <img src="<%= asset_path('tag_icon.png' ) %>" class="round" />
            <div class="timer top_padding bottom_padding" >15</div>
            <h5>Shared Items</h5>
          </div>
        </div>

        <div class="col-xs-12 col-sm-3 col-md-3">
          <div class="counter-item">
            <img src="<%= asset_path('tick_icon2.png' ) %>" class="round" />
            <div class="timer top_padding bottom_padding">30 </div>
            <h5>Successful handoffs</h5>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="container-fluid ">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12 spacer">

      </div>
    </div>
  </div>
</div>


<div class="container-fluid features">
  <div class="container">
    NEED TO CORRECT LIVE=FALSE
<% @campaigns.each do |campaign| %>
<div class="col-md-12">
  Campaign: <%= campaign.header %> Custodian: <%= campaign.custodian.id %>
</div>
  <% end %>
</div>
</div>

    <div class="container-fluid ">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12 spacer">

          </div>
        </div>
      </div>
    </div>
